[submodule "bundle/Pretty-Vim-Python"]
	path = bundle/Pretty-Vim-Python
	url = https://github.com/pfdevilliers/Pretty-Vim-Python.git
[submodule "bundle/dracula-theme"]
	path = bundle/dracula-theme
	url = https://github.com/dracula/vim
[submodule "bundle/lexima"]
	path = bundle/lexima
	url = https://github.com/cohama/lexima.vim
	ignore = dirty
[submodule "bundle/vim-pathogen"]
	path = bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic
[submodule "bundle/vim-airline"]
	path = bundle/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "bundle/vim-monokai"]
	path = bundle/vim-monokai
	url = https://github.com/crusoexia/vim-monokai
